{% comment %} <div class="container my-5">

    <footer class="text-center text-lg-start" style="background-color:rgb(0, 0, 0);">
      <div class="container d-flex justify-content-center py-5">
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color:rgb(185, 161, 221);">
          <i class="fab fa-facebook-f"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color:rgb(70, 45, 107);">
          <i class="fab fa-youtube"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color:rgb(82, 44, 139);">
          <i class="fab fa-instagram"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color:rgb(98, 50, 168);">
          <i class="fab fa-twitter"></i>
        </button>
      </div>
  
      <!-- Copyright -->
      <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2025 Copyright:
        <a class="text-white" href={% url "home" %}>AIEccoGRID</a>
      </div>
      <!-- Copyright -->
    </footer> {% endcomment %}


    <!-- templates/footer.html -->

    {% comment %} <div class="container-fluid my-5">
        <footer class="text-center text-lg-start" style="background-color: #343a40;">
            <div class="container d-flex justify-content-center py-4 flex-wrap">
                <a href="#" target="_blank" class="btn btn-primary btn-lg btn-floating mx-2 my-1" style="background-color: #0d6efd;">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" target="_blank" class="btn btn-primary btn-lg btn-floating mx-2 my-1" style="background-color: #dc3545;">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="#" target="_blank" class="btn btn-primary btn-lg btn-floating mx-2 my-1" style="background-color: #d63384;">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" target="_blank" class="btn btn-primary btn-lg btn-floating mx-2 my-1" style="background-color: #1da1f2;">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
      
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color: #ffffff;">
                © 2025 YourWebsite. All rights reserved.
            </div>
        </footer>
    </div>
     {% endcomment %}

<!-- footer.html -->
<!-- footer.html -->
<footer>
    <div class="container text-center">
        <div class="social-links">
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="copyright">
            © 2025 EcoGridAI. All rights reserved.
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: #343a40;
        color: white;
        padding: 20px 0;
    }
    .social-links a {
        margin: 0 10px;
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        transition: color 0.3s;
    }
    .social-links a:hover {
        color: #0d6efd;
    }
    .copyright {
        margin-top: 10px;
        font-size: 0.9rem;
    }
</style>